.not-found-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
.not-found-wrap h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #534AB7;
}
.not-found-wrap p {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 20px;
}
